body{
	background:#999;
	font:11px/18px Tahoma;
}
a{
	text-decoration: none;
	color: #0000FF;
}
.icon{
	background:url(images/error128.png) no-repeat;
	width:128px;
	height:128px;
	filter: alpha(opacity=50); /* internet explorer */
	-khtml-opacity: 0.5;      /* khtml, old safari */
	-moz-opacity: 0.5;       /* mozilla, netscape */
	opacity: 0.5;           /* fx, safari, opera */
	position:relative;
	z-index:0;
	top:110px;
	right:-160px;
}
.box{
	background:#FFF;
	border:1px solid #CCC;
	width:300px;
	margin-top:60px;
	z-index:1;
	position:relative;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	border-radius: 10px; /* universal */
	-moz-box-shadow: 2px 2px 5px #666; /* Firefox */
	-webkit-box-shadow: 2px 2px 5px #666; /* Safari, Chrome */
	box-shadow: 2px 2px 5px #666; /* CSS3 */
}
.box .inner{
	margin:20px 10px;
	text-align:right;
	direction:rtl;
}
.code{
	color:#F33;
}