@charset "utf-8";
/* CSS Document */

body{
	font:11px/16px Tahoma;
	background:#FFF;
}
.box{
	margin-top:150px;
	width:350px;
	border:1px solid #CCC;
	background:#EEE;
	background:-webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC)); /* for webkit browsers */
	background:-moz-linear-gradient(top,  #EEE,  #CCC); /* for firefox 3.6+ */
}
.round{
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Safari, Chrome */
	border-radius:5px; /* CSS3 */
}
.inner{
	padding:10px;
}