table.data-table
{
	width:100%;
	margin:0;
	border:0;
	border-collapse:collapse;
}

.data-table thead tr
{
	background:url(images/table-header.png) repeat-x left bottom #f5f5f5;
}

.data-table thead tr th:first-child
{
	border-right:none;
}

.data-table thead tr th
{
	line-height:20px;
	padding:10px 16px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

.data-table tbody td, 
.data-table tfoot td
{
	padding:0px 10px;
	border-right-width:1px;
	border-right-style:dotted;
	border-right-color:#bebebe !important;
}

.data-table tbody td:first-child, 
.data-table tfoot td:first-child
{
	border-right:none;
}

.data-table tbody tr.odd
{
	background-color:#f2f2f2;
}

.data-table tbody tr.even
{
	background-color:#fafafa;
}

/* Data Table Style */

div.dataTables_wrapper
{
	background:#444444;
}

.dataTables_wrapper table thead th.sorting, 
.dataTables_wrapper table thead th.sorting_asc, 
.dataTables_wrapper table thead th.sorting_desc
{
	cursor:pointer;
}

.dataTables_wrapper table thead th.sorting_asc, 
.dataTables_wrapper table thead th.sorting_desc, 
.dataTables_wrapper table thead th.sorting
{
	background-position:12px center;
	background-repeat:no-repeat;
	padding-left:30px;
}

.dataTables_wrapper table thead th.sorting
{
	background-image:url(images/sort.png);
}

.dataTables_wrapper table thead th.sorting_asc
{
	background-image:url(images/sort_asc.png);
}

.dataTables_wrapper table thead th.sorting_desc
{
	background-image:url(images/sort_desc.png);
}

div.dataTables_wrapper:before,
div.dataTables_wrapper:after
{
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

div.dataTables_wrapper:after
{
	clear: both;
}

div.dataTables_wrapper
{
	zoom: 1;
}

div.dataTables_wrapper .dataTables_length, 
div.dataTables_wrapper .dataTables_filter, 
div.dataTables_wrapper .dataTables_info, 
div.dataTables_wrapper .dataTables_paginate
{
	padding:8px;
}

div.dataTables_wrapper .dataTables_length
{
	float:left;
}

div.dataTables_wrapper .dataTables_filter
{
	background-color:#cccccc;
	text-align:right;
	border-bottom:1px solid #aaaaaa;
}

div.dataTables_wrapper .dataTables_info
{
	color:#ffffff;
	float:left;
	margin-top:2px;
	display:block;
}

div.dataTables_wrapper .dataTables_paginate
{
	color:#ffffff;
	float:right;
	padding:2px;
	margin:10px 8px 10px 0;
	
	background-repeat:repeat;
	background-image:url(images/inset.png);
	
	/* CSS 3 */
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	
	-webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	-o-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

div.dataTables_wrapper .dataTables_paginate div
{
	width:20px; height:20px;
	float:left;
	display:block;
	cursor:pointer;
}

div.dataTables_wrapper .dataTables_paginate .paginate_disabled_previous, 
div.dataTables_wrapper .dataTables_paginate .paginate_enabled_previous
{
	background-image:url(images/arrow-left.png);
	background-repeat: no-repeat;
	background-position: center center;
	
	margin-right:1px;
	
	/* CSS 3 */
	
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	-o-border-radius:4px 0 0 4px;
	-khtml-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
}


div.dataTables_wrapper .dataTables_paginate .paginate_disabled_next, 
div.dataTables_wrapper .dataTables_paginate .paginate_disabled_previous
{
	opacity:.35;
	filter:Alpha(35);
	cursor:auto;
}

div.dataTables_wrapper .dataTables_paginate .paginate_disabled_next, 
div.dataTables_wrapper .dataTables_paginate .paginate_enabled_next
{
	background-image:url(images/arrow-right.png);
	background-repeat: no-repeat;
	background-position: center center;
	
	/* CSS 3 */
	
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-o-border-radius:0 4px 4px 0;
	-khtml-border-radius:0 4px 4px 0;	
	border-radius:0 4px 4px 0;
}

div.dataTables_wrapper .dataTables_paginate span.first
{	
	/* CSS 3 */
	
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	-o-border-radius:2px 0 0 2px;
	-khtml-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
}

div.dataTables_wrapper .dataTables_paginate span.last
{
	/* CSS 3 */
	
	-webkit-border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	-o-border-radius:0 2px 2px 0;
	-khtml-border-radius:0 2px 2px 0;
	border-radius:0 2px 2px 0;
}

div.dataTables_wrapper .dataTables_paginate span.paginate_button, 
div.dataTables_wrapper .dataTables_paginate span.paginate_active
{
	float:left;
	height:20px;
	padding:0 10px;
	display:block;
	font-size:12px;
	line-height:20px;
	text-align:center;
	cursor:pointer;
	background-color:#444444;
	
	border-right:1px solid #232323;
	border-left:1px solid #666666;
	
	border-right:1px solid rgba(0, 0, 0, 0.5);
	border-left:1px solid rgba(255, 255, 255, 0.15);
	
	/* CSS 3 */
	
	-webkit-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	-o-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	-moz-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	-khtml-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
	box-shadow:0px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

div.dataTables_wrapper .dataTables_paginate > span.paginate_button:first-child
{
	border-left:0;
}

div.dataTables_wrapper .dataTables_paginate > span.paginate_button:last-child
{
	border-right:0;
}

div.dataTables_wrapper .dataTables_paginate span.paginate_button_disabled
{
	color:#666666;
	cursor:default;
}

div.dataTables_wrapper .dataTables_paginate span.paginate_active
{
	color:#323232;
	border:none;
	background-image:none;
	
	/* CSS 3 */
	
	-webkit-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	-o-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	-khtml-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);	
	box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}



td .tooltip{
	display:block;
	text-align:center;
}
tr:hover .tooltip span{
	visibility: visible;
}
.data-table td.actions{
	text-align:center;
}

/*
.data-table{
	background:#666;
}
.data-table th{
	background:#999;
	border:1px solid #AAA;
	text-align:center;
	line-height:20px;
}
.data-table th, .data-table td{

}
.data-table td{
	background:#FFFEE1;
	line-height:16px;
	vertical-align:middle;
}
.data-table tr:hover td:not(.no-hover){
	background:#FEFFBF;
}
.data-table td.active{
	background:#6C0;
}
.data-table td.deactive{
	background:#999;
}


/* pagination 
.pagination{
	 margin:0;
	 padding:1px;
	 list-style:none;
}
.pagination li{
	margin-top:20px;
	margin-left:10px;
	float:right;
}
.pagination li.last{
	float:none;
}
.pagination li a, .pagination li span{
	padding:3px 5px;
	line-height:20px;
	background:#F4EEA2;
	border:1px solid #F4DD55;
	color:#333;
	display:inline-block;
}
.pagination li span{
	background:#FEFAC0;
	font-size:9px;
}
.pagination li.current a{
	font-weight:bold;
}

.pagination li a:hover{
	box-shadow:inset 0 0 5px #F4DD55;
	-moz-box-shadow:inset 0 0 5px #F4DD55;
	-webkit-box-shadow:inset 0 0 5px #F4DD55;
}


