@charset "utf-8";
/* CSS Document */
.tag_show{
	margin-top:10px;
}
.tag_show .tag{
	float:right;
	margin-left:5px;
	background:#CCC;
	line-height:18px;
	padding:0 10px;
	cursor:pointer;
	margin-bottom:10px;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Safari, Chrome */
	border-radius:5px; /* CSS3 */
}
.tag_show .tag:hover{
	background:#BBB;
}