@font-face {
  font-family: 'yekan';
  src: url('../fonts/yekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'numbers';
  src: url('../fonts/numbers.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/numbers.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/numbers.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

/* defaults */
.left{float:left;}
.right{float:right}
.txt-c{text-align: center;}
.txt-r{text-align: right;}
.txt-l{text-align: left;}

.min-space .col-xs-1,
.min-space .col-xs-2,
.min-space .col-xs-3,
.min-space .col-xs-4,
.min-space .col-xs-5,
.min-space .col-xs-6,
.min-space .col-xs-7,
.min-space .col-xs-8,
.min-space .col-xs-9,
.min-space .col-xs-10,
.min-space .col-xs-11,
.min-space .col-xs-12{
    padding-left: 12px;
    padding-right: 12px;
}
.min-space .row{
    margin-right: -12px;
    margin-left: -12px;
}
.input-group-addon{
    direction: ltr;
}
.foot-pagi{
    background: rgba(0,0,0,.035);
    max-height: 65px;
}
.foot-pagi .pagination,
.foot-pagi .pagination-info{
    padding: 0 15px;
}
.foot-pagi .pagination{
    margin: 15px 0;
}
.foot-pagi .pagination-info{
    text-align: left;
    display: block;
    line-height: 65px;
}
.pagination li a{
    color: #111 !important;
}
.pagination li.active a{
    background-color: #0cc2aa !important;
    border-color: #0cc2aa !important;
    color: #fff !important;
}
.bg-red{
    background: #FE5841;
}

html{
    height: 100%;
}
body{
    background: #fff;
    color: #585858;
    padding: 0;
    margin: 0;
    height: 100%;
}
body,
a,
a:hover,
.btn,
.btn:hover,
button,
.ui-widget{
    font: 15px numbers, yekan, Tahoma;
    line-height: 1.8;
    text-decoration: none;
}
.btn,
.btn:hover{
    font-size: 14px;
}
.input-group-btn .btn{
    font-size: 14px;
    line-height: 1.42857143;
}
.form-control[readonly="readonly"]{
    cursor: auto;
}
a{
    color: #ee6123;
}
a:hover{
    color: #98370c;
}
a,a:focus,a:hover,a:active{text-decoration: none;}
input{
    font: 11px/20px Tahoma;
}
label{
    font-weight: normal;
}
select.form-control{
    padding-top: 0;
    padding-bottom: 0;
}
h1{
    font-size: 30px;
    font-weight: bold;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
h3{
    font-size: 20px;
}
.table td.nobg{
    background: none;
    border-width: 0;
}
.en{
    font-family: Arial;
    direction: ltr;
    text-align: right;
}
.graph{
    /*font-family:Tahoma;*/
    font-size: 14px;
    height: 200px;
}
.table.table-bordered{
    border: 0;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border-color: rgba(120,130,140,.13);
    border-width: 0 0 1px 1px;
}
.table tr:last-child td{
    border-bottom: 0;
}
.table tr td:last-child, .table tr th:last-child{
    border-left: 0;
}
.table th{
    line-height: 30px !important;
    background: #fcfcfc;
    text-align: center;
    border-bottom-width: 2px !important;
}
.loading{
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: table;
    width: 100%;
    height: 100%;
}
.loading span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 40px;
}
.sidebar-container{
    width: 250px;
    background: #2e3e4e;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: -250px;
    direction: rtl;
}
.showMenu .sidebar-container{
    right: 0;
}
.content-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #f0f0f0;
    direction: rtl;
}
.showMenu .content-container{
    right: 250px;
}
.sidebar-container .head{
    height: 70px;
    position: relative;
}
.sidebar-container .foot{
    height: 50px;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.05);
    color: #ccc;
    text-align: center;
}
#navC{
    top: 70px;
    bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 267px;
    margin-left: -17px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
ul.nav{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.nav li{
    position: relative;
    display: block;
}
ul.nav li:focus a,
ul.nav li a:focus,
ul.nav li a:active,
ul.nav li a,
ul.nav li.stat span{
    padding: 11px 15px;
    position: relative;
    font-size: 16px;
    transition: color .3s ease-in-out 0s;
    color: #ccc;
    height: 44px;
    line-height: 22px;
    display: block;
    background-color: rgba(0,0,0,0)!important;
}
ul.nav li > a > i{
    margin: -12px -15px -12px 10px;
    line-height: 44px;
    width: 44px;
    float: right;
    font-size: 14px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #ccc;
    transition: color .3s ease-in-out 0s;
}
ul.nav > li > a:before{
    content: "";
    width: 28px;
    height: 28px;
    top: 8px;
    right: 8px;
    position: absolute;
    border: 2px solid #0cc2aa;
    border-radius: 14px;
}
ul.nav > li > a > i:before{
    z-index: 1;
    position: relative;
}
ul.nav > li > a > i b{
    position: absolute;
    right: -43px;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: left .25s;
    transition: right .25s;
    background: rgba(0,0,0,.15);
}
ul.nav li.active > a,
ul.nav li:hover > a,
ul.nav li li.active > a,
ul.nav li li:hover > a,
ul.nav li > a:hover{
    color: #fff;
    background-color: inherit;
    background-color: rgba(0,0,0,.05)!important;
    text-shadow: none;
}
ul.nav li.stat a{
    font-size: 14px;
    background-color: rgba(243,97,71,.2) !important;
    color: #eee !important;
}
ul.nav li.active > a > i,
ul.nav li:hover > a > i,
ul.nav li li.active > a > i,
ul.nav li li:hover > a > i,
ul.nav li > a:hover > i{
    color: #fff;
}
ul.nav > li.active > a b,
ul.nav > li:hover > a b,
ul.nav > li > a:active b,
ul.nav > li > a:hover b{
    right: 0!important;
}
ul.nav > li > a > span > i{
    font-size: 10px;
    line-height: 2.5;
}
ul.nav > li > a .arrow{
    display: inline-block;
}
ul.nav > li > a.active .arrow{
    display: none;
}
ul.nav > li > a .arrow-active{
    display: none;
}
ul.nav > li > a.active .arrow-active{
    display: inline-block;
}
ul.nav > li > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.2)!important;
    display: none;
}
ul.nav li.active ul{
    display: block;
}
ul.nav li ul li a{
    font-size: 13px !important;
}
ul.nav li li a i{
    font-size: 12px;
}

.content-container .head{
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.03),0 1px 0 rgba(0,0,0,.03);
    height: 50px;
}
.content-container .head div{
    display: inline-block;
    padding: 5px 20px;
    color: #aaa;
    line-height: 40px;
    float: left;
}
.content-container .head div a{
    display: block;
    color: inherit;
    line-height: 40px;
    height: 40px;
}
.content-container .head div a i{
    line-height: 40px;
    height: 40px;
    float: right;
}
.content-container .head div span span{
    display: none;
}
.content-container .head .signout{
    background: #FE5841;
    color: #000;
    transition: all .4s;
}
.content-container .head .signout:hover{
    background: #FE2405;
}
.content-container .head .navBtn{
    float: right;
}
.content-container .head .navBtn a:hover{
    color: #333;
} 
.content{
    padding: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    bottom: 0;
}
#inline_load{
    margin-top: 15px;
}
.box{
    background: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
}
.mgt{
    margin-top: 15px;
}
.mgb{
    margin-bottom: 24px;
}
.box.footer,
.box.footer a{
    color: #999;
    font-size: 12px;
    font-family: monospace, numbers, yekan, Tahoma !important;
    background: none;
    box-shadow: none;
}
.box.footer a{
    font-size: 14px;
}
.box .title{
    font-size: 24px;
    display: block;
    padding: 15px 20px 10px 50px;
    border-bottom: 1px solid rgba(120,130,140,.13);
}
.box .in{
    padding: 15px;
}
.box.table .in{
    padding: 0;
}
.box.table table{
    margin-bottom: 0;
}
.box .buttons{
    background: #f3f3f3;
    padding: 10px;
    border-bottom: 1px solid rgba(120,130,140,.13);
}
.stats{
    margin: 15px;
    text-align: center;
}
.stats h2{
    font-size: 24px;
    margin: 15px 0 5px 0;
}
.stats .subtip{
    font-size: 14px;
    margin: 5px 0 15px 0;
    display: inline-block;
}
.stats .green h2{
    color: #6BC02C;
}
.col-br{
    border-right: 1px solid #d9e4e6;
}

.btnCustom{
    background: #F36147;
    border: 0;
    border-bottom: 4px solid rgba(0,0,0,.2);
    box-shadow: 0px 0px 1px rgba(0,0,0,.2);
    color: #fff !important;
    outline: none !important;
    transition: all .4s;
    height: 50px;
    line-height: 30px !important;
    padding: 7px 0 !important;
    font-size: 20px !important;
}
.btnCustom:hover,
.btnCustom:active,
.btnCustom:focus{
    background: #F03413;
}
.btnCustom i{
    top: 4px;
}
.btn.btn-orange {
    height: 43px;
    color: #fff;
    background-color: #ee6123;
    border: 0;
    box-shadow: 0 0 0 1px #e45212;
}
.btn.btn-orange:hover,
.btn.btn-orange:focus,
.btn.btn-orange.focus,
.btn.btn-orange:active,
.btn.btn-orange.active{
    color: #fff;
    background-color: #e45212;
}

table input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
form .help-block,
form .help-block a{
    font-size: 12px;
}



@media (min-width: 768px) {
    .sidebar-container{
        right: 0;
    }
    .content-container{
        right: 250px;
    }
    .content-container .head .navBtn{
        display: none;
    }
    .content-container .head .balanceBtn{
        display: nosne;
    }
    .content-container .head div span span{
        display: inline-block;
        padding-right: 10px;
    }
}



@keyframes blink {
    0%   {background-color: #333; color: #ccc;}
    50%  {background-color: #F36147; color: #fff;}
    100% {background-color: #333; color: #ccc;}
}