@font-face {
  font-family: 'yekan';
  src: url('../cp/fonts/yekan.eot?#') format('eot'),  /* IE6–8 */
       url('../cp/fonts/yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../cp/fonts/yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'numbers';
  src: url('../cp/fonts/numbers.eot?#') format('eot'),  /* IE6–8 */
       url('../cp/fonts/numbers.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../cp/fonts/numbers.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body,
a,
.btn,
.btn:hover,
button,
input.form-control{
    font: 15px numbers, yekan, Tahoma;
    line-height: 1.8;
}
body {
  background-color: #333;
  direction: rtl;
}
.form-signin {
    max-width: 340px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.form-signin.error{
    height: 435px;
}
.form-signin .inner{
    background: #eee;
    padding: 15px 30px;
    border-radius: 2px;
    box-shadow: -5px 5px 30px #000;
    margin-bottom: 15px;
}
.form-signin h2{
    margin: 14px 0 30px;
    text-align: center;
    font-size: 20px;
    color: #666;
}
.form-signin .form-control {
  position: relative;
  font-size: 12px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 0;
  box-shadow: none !important;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.input-group-addon{
    background: #888;
    color: #fff;
    border: 0 !important;
}
#captchaWrapper{
    position: relative;
}
#captchaWrapper input{
    font-family: Arial;
    font-size: 20px;
    line-height: 21px;
}
#captchaWrapper input.form-control::-moz-placeholder {
    font-size: 12px;
    font-family: Tahoma;
}
#captchaWrapper input.form-control:-ms-input-placeholder {
    font-size: 12px;
}
#captchaWrapper input.form-control::-webkit-input-placeholder {
    font-size: 12px;
}
#captchaWrapper button{
    padding-right: 7px;
    padding-left: 7px;
    border: 0;
    border-radius: 4px 0 0 4px;
}
#captchaWrapper button i{
    height: 29px;
    line-height: 27px;
    font-size: 24px;
}
#captchaWrapper img{
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 3;
}
.mgb{
	margin-bottom: 10px !important;
}
#script_license,
#script_license a{
    color: #666;
    font-size: 12px;
    font-family: numbers, yekan, Tahoma;
}
#script_license a{
    font-size: 14px;
    font-family: monospace !important;
    text-decoration: none !important;
}