@font-face {
  font-family: 'yekan';
  src: url('../fonts/yekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'numbers';
  src: url('../fonts/numbers.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/numbers.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/numbers.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

/* defaults */
.left{float:left;}
.right{float:right}

.min-space .col-xs-1,
.min-space .col-xs-2,
.min-space .col-xs-3,
.min-space .col-xs-4,
.min-space .col-xs-5,
.min-space .col-xs-6,
.min-space .col-xs-7,
.min-space .col-xs-8,
.min-space .col-xs-9,
.min-space .col-xs-10,
.min-space .col-xs-11,
.min-space .col-xs-12{
    padding-left: 10px;
    padding-right: 10px;
}
.min-space .row{
    margin-right: -10px;
    margin-left: -10px;
}
.input-group-addon{
    direction: ltr;
}
.form-horizontal .form-group{
    margin-right: 0;
    margin-left: 0;
}
html{
    height: 100%;
}
body{
    background-color: #a2dad2;
    background-image: url(../images/forms-bg.jpg);
    background-size: cover;
    color: #585858;
    padding: 0;
    margin: 0;
    height: 100%;
}
body,
a,
a:hover,
.btn,
.btn:hover,
button,
.ui-widget{
    font: 15px numbers, yekan, Tahoma;
    line-height: 1.8;
    text-decoration: none;
}
.btn,
.btn:hover{
    font-size: 14px;
}
a{
    color: #ee6123;
}
a:hover{
    color: #98370c;
}
a,a:focus,a:hover,a:active{text-decoration: none;}
input{
    font-size: 11px;
}
label{
    font-weight: normal;
}
select.form-control{
    padding-top: 0;
    padding-bottom: 0;
}
h1{
    font-size: 30px;
    font-weight: bold;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    margin: 0;
}
.wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 800px;
    min-height: 100px;
}
article{
    background: rgba(255,255,255,.95);
    box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 20px;
    overflow: hidden;
}
article h1{
    background: #96C6CF;
    margin: -21px -20px 20px -20px ;
    line-height: 70px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
article.mgb{
    margin-bottom: 20px;
}
.text-center{
    text-align: center;
}
footer{
    
}
footer, footer a{
    color: #fff !important;
    font-size: 12px !important;
    font-family: numbers, yekan, Tahoma !important;
}
footer a{
    font-family: monospace !important;
}