@font-face {
  font-family: 'yekan';
  src: url('../fonts/yekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'numbers';
  src: url('../fonts/numbers.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/numbers.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/numbers.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

html,body{
    direction: ltr !important;
}
html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-color: #e9e9e9;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}
body,
a,
.btn,
.btn:hover,
button,
input.form-control{
    font: 15px numbers, yekan, Tahoma;
    line-height: 1.8;
}
a,
a:hover,
a:focus,
a:active{
    text-decoration: none;
}
.btn,
.btn:hover,
input{
    font-size: 14px;
}
a{
    color: #a00000;
    transition: all .4s;
}
.btn{
    transition: all .4s;
}
a:focus,
a:active,
a:hover{
    color: #da0505;
    text-decoration: none;
}
label{
    font-weight: normal;
}
select.form-control{
    padding-top: 0;
    padding-bottom: 0;
}
h1{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 30px 0;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
h3{
    font-size: 20px;
}
ul{
    list-style: none outside;
    margin: 0;
    padding: 0;
}
.table td.nobg{
    background: none;
    border-width: 0;
}
.table.table-bordered{
    border: 0;
}
.txt-r{
    text-align: right;
}
.txt-l{
    text-align: left;
}
.txt-c{
    text-align: center;
}
.mgt-20{
    margin-top: 20px;
}

#wrapper {
    background: #fff;
    padding: 40px 35px 0 35px;
    margin: 50px auto 50px auto;
    width: 1300px;
    direction: rtl;
}

header{
    
}
header .logo{
    margin: 22px 0 0 0;
}
header .logo a{
    font: bold 30px monospace;
    color: #111;
    float: right;
}
header .logo .tagline{
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #888;
    border-right: 1px solid #e9e9e9;
    margin: 0 20px 0 0;
    padding: 5px 20px 5px 0;
    line-height: 26px;
}
header .social-icons{
    margin: 0;
    float: left;
    list-style: none outside;
}
.social-icons li {
    display: inline;
    float: right;
    margin-right: 4px;
    line-height: 18px;
}
.social-icons li a{
    width: 42px;
    height: 42px;
    display: inline-block;
    background-color: #f2f2f2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 42px;
    color: #a0a0a0;
    font-size: 20px;
}
.social-icons li a.instagram,
.social-icons li a.telegram{
    font-size: 24px;
}
.social-icons li a.telegram:hover{
    background-color: #4fb4e2;
}
.social-icons li a.facebook:hover{
    background-color: #4a6d9d;
}
.social-icons li a.twitter:hover{
    background-color: #3bc1ed;
}
.social-icons li a.linkedin:hover{
    background-color: #0b7bb5;
}
.social-icons li a.instagram:hover{
    background: #d92e7f;
}
.social-icons li a:hover{
    color: #fff;
}
#contact-details {
    float: left;
    margin-top: 20px;
    display: block;
    direction: ltr;
}
#contact-details li {
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #e9e9e9;
    height: 24px;
}
#contact-details li:first-child {
    border: none;
    margin-left: 0;
    padding: 0;
}
#contact-details i {
    margin-right: 5px;
    margin-top: 3px;
}
#contact-details a {
    color: #707070;
}


header nav{
    background: #303030;
    display: block;
    width: 100%;
    float: left;
    max-height: 52px;
    margin: 10px 0 15px 0;
}
header nav ul li{
    float: right;
    position: relative;
}
header nav ul li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 17px 25px;
    line-height: 18px;
}
header nav ul li a:hover,
header nav ul li a:active,
header nav ul li a:focus{
    background: #37b6bd;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#homeBanner{
    position: relative;
    margin-bottom: 50px;
}
#homeBanner .mainImg{
    width: 100%;
    height: auto;
}
#homeBanner .desc{
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    display: inline-block;
    padding: 40px;
    width: 600px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

#slider{
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    direction: ltr;
}
#slider > *{
    direction: rtl;
}
.ls-inner{
    overflow: hidden;
}
#slider h3{
    font-size: 30px;
}
#slider h2{
    font-size: 35px;
}
#slider h1{
    font-size: 40px;
}

.circle{
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    background-color: #f2f2f2;
    text-align: center;
    float: right;
    position: relative;
}
.circle i{
    font-size: 18px;
    margin: 20px 0;
    color: #a0a0a0;
    z-index: 5;
    position: relative;
}
.featured-desc{
    float: right;
    margin: -65px 82px 0 0;
}
.featured-desc h3{
    font-size: 24px;
    margin-bottom: 14px;
    font-weight: bold;
    color: #444;
}
.featured-box:hover>.circle span {
    background-color: #808080;
    opacity: 0;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.featured-box:hover>.circle i {
    color: #fff;
}
.circle span {
    z-index: 4;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}
.circle, .circle i, .circle span {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.featured-box:hover>.circle, .featured-box:hover>.circle span{
    background-color: #72b626;
}
.pricing{
    background: url(../images/pricing-bg.jpg) no-repeat center top;
    background-size: cover;
    margin: 40px -35px;
}
.backdrop{
    background: rgba(0,0,0,.6);
    color: #eee;
}
.pricing .backdrop{
    padding: 35px;
}
.info h3{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 35px;
}
.info{
    text-align: center;
}
.join-us{
    background: #72b626;
    margin: 0 -35px;
    margin-top: 40px;
    padding: 35px 0;
    color: #fff;
    font-size: 20px;
}

h1.title{
    border-bottom: 1px solid #e9e9e9;
    display: block;
    margin: 0 0 30px 0;
}
h1.title span{
    padding: 19px 0 35px 0;
    display: inline-block;
    position: relative;
    font-weight: normal;
    font-size: 20px;
}
h1.title span:after{
    position: absolute;
    content: "";
    text-indent: -9999px;
    height: 3px;
    width: 100%;
    display: block;
    background: #72b626;
    bottom: -2px;
    right: 0;
}
.help-block{
    font-size: 12px;
}
.bottomPad{
    padding-bottom: 30px;
}


#footer {
    background: #303030;
    margin: 0px -35px;
}
#footer .nav{
    padding: 20px 0;
}
#footer, #footer p, #footer a {
    color: #aaa;
}
#footer h3{
    position: relative;
    margin-bottom: 20px;
}
#footer h3 span{
    background: #303030;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    z-index: 1;
}
#footer h3:after{
    position: absolute;
    content: "";
    width: 100%;
    /*height: 1px;
    background: rgba(255,255,255,.05);*/
    border-top: 1px solid rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(255,255,255,.04);
    top: 15px;
    right: 0;
    z-index: 0;
}
#footer li{
    position: relative;
}
#footer li:before{
    position: absolute;
    content: "\e251";
    top: 10px;
    right: 0;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ddd;
}
#footer li a{
    padding-right: 15px;
    color: #aaa;
}
#footer li a:hover{
    color: #fff;
}
#footer .split{
    border-top: 1px solid rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(255,255,255,.04);
    margin: 20px 0;
}
#footer .copy,
#footer .copy a{
    color: #666;
    font-size: 13px;
}
#script_license a{
    font-family: Tahoma;
}


.cont {
    position: relative;
    width: 1200px;
    margin: 0 auto !important;
    padding: 0;
}
@media only screen and (min-width: 960px) and (max-width: 1389px) {
    #wrapper {
        width: 980px;
    }
    #footer {
        width: 970px;
    }
    .cont {
        position: relative;
        width: 910px;
        margin: 0 auto;
        padding: 0;
    }
}
@media only screen and (max-width: 1200px) {
    #wrapper {
        margin: 0 auto;
        padding: 25px 0 40px 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%;
    }
    body {
        background: #fff
    }
    #footer {
        margin: 0 auto;
        padding: 15px 0 0 0;
        width: 100%!important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
    #footer {
        padding: 10px 0 0 0;
    }
    .cont {
        width: 768px;
    }
}
@media only screen and (max-width: 767px) {
    #wrapper {
        margin: 0 auto;
        padding: 15px 0 30px 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%;
    }
    #footer {
        padding: 15px 0 0 0;
        width: 100%!important;
    }
    .cont {
        width: 300px;
    }
    #slider h3{
        font-size: 10px;
    }
    #slider h2{
        font-size: 12px;
    }
    #slider h1{
        font-size: 14px;
    }
}